@using MVCAsyncPageLoad.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div style="width: 200px; height:100px;">
        @Html.ActionAsync("Header", "Home")
    </div>
    <div style="width: 200px; height:100px;">
        @{Html.RenderActionAsync("HeaderGet", "Home", new { p1 = "a", p2 = "b", p3 = 10, area=""});}
    </div>
    <div style="width: 200px; height:100px;">
        @{Html.RenderActionAsync("HeaderPost", "Home", new { p1 = "value1", area="" });}
    </div>
    <div>
        @RenderBody()
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
